<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.tud.stg.tigerseye.dslDefinitions">
      <language
            class="de.tud.stg.tigerseye.examples.logo.LogoDSL"
            extension="logo"
            name="Logo DSL With Debug Annotations">
      </language>
      <language
            class="de.tud.stg.tigerseye.examples.logo.SimpleLogo"
            extension="simplelogo"
            name="Simple Logo">
      </language>
      <language
            class="de.tud.stg.tigerseye.examples.logo.UCBLogo"
            extension="ucblogo"
            name="UCB Logo">
      </language>
      <language
            class="de.tud.stg.tigerseye.examples.logo.FunctionalLogo"
            extension="funclogo"
            name="Functional Logo">
      </language>
      <language
            class="de.tud.stg.tigerseye.examples.logo.ConciseLogo"
            extension="conciselogo"
            name="Concise Logo">
      </language>
   </extension>
</plugin>
