<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.tud.stg.tigerseye.dslDefinitions">
      <language
            class="de.tud.stg.tigerseye.examples.tinysql.TinySQL"
            extension="tinysql"
            name="Tiny SQL">
      </language>
   </extension>

</plugin>
