<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.tud.stg.tigerseye.dslDefinitions">
      <language
            class="de.tud.stg.tigerseye.examples.dsldefinitions.conditionaldsl.ConditionalDSL"
            extension="cond"
            name="Conditional DSL">
      </language>
      <language
            class="de.tud.stg.tigerseye.examples.dsldefinitions.mapdsl.MapDSL"
            extension="map"
            name="Map DSL">
      </language>
      <language
            class="de.tud.stg.tigerseye.examples.dsldefinitions.mathdsl.MathDSL"
            extension="math"
            name="Math DSL">
      </language>
      <language
            class="de.tud.stg.tigerseye.examples.dsldefinitions.foreachsyntaxdsl.ForEachSyntaxDSL"
            extension="foreach"
            name="ForEachSyntax DSL">
      </language>
      <language
            class="de.tud.stg.tigerseye.examples.dsldefinitions.setdsl.SetDSL"
            extension="set"
            name="Set DSL">
      </language>
      <language
            class="de.tud.stg.tigerseye.examples.dsldefinitions.simplesqldsl.SimpleSqlDSL"
            extension="sql"
            name="Simple SQL DSL">
      </language>
      <language
            class="de.tud.stg.tigerseye.examples.dsldefinitions.statefuldsl.StatefulDSL"
            extension="state"
            name="Stateful DSL">
      </language>
   </extension>

</plugin>
