<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.tud.stg.tigerseye.dslDefinitions">
      <language
            class="de.tud.stg.tigerseye.example.dzoneunits.UnitsDSL"
            extension="units"
            name="Units DSL">
      </language>
   </extension>

</plugin>
