<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.name"
            extensions="dsl"
            icon="icons/plane16.png"
            contributorClass="org.eclipse.jdt.internal.ui.javaeditor.BasicCompilationUnitEditorActionContributor"
            class="de.tud.stg.tigerseye.ui.editors.TigerseyeEditor"
            id="de.stg.tud.tigerseye.ui.editors.TigerseyeEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.tud.stg.tigerseye.preferences.root"
            class="de.tud.stg.tigerseye.ui.preferences.TigerseyeUIPreferencePage"
            id="de.tud.stg.tigerseye.preferences.ui"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.tud.stg.popart.eclipse"
            name="%category.name">
      </category>
      <wizard
            category="de.tud.stg.popart.eclipse"
            class="de.tud.stg.popart.eclipse.wizards.NewPopartClassWizzard"
            icon="icons/plane16.png"
            id="de.tud.stg.popart.eclipse.wizards.newClassWizard"
            name="%wizard.name"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective">
         <description>
            %wizard.description
         </description>
      </wizard>
      <wizard
            category="de.tud.stg.popart.eclipse"
            class="de.tud.stg.popart.eclipse.wizards.popartLanguageWizard.NewPopartLanguageWizzard"
            icon="icons/plane16.png"
            id="de.tud.stg.popart.eclipse.wizards.newProjectWizard"
            name="%wizard.name.0"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective">
         <description>
            %wizard.description.0
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="de.tud.stg.tigerseye.eclipse.core.tigerseyeLaunchConfigurationType"
            icon="icons/plane16.png"
            id="de.tud.stg.tigerseye.eclipse.core.tigerseyeLaunchConfigurationTypeImage.icon">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.tud.stg.tigerseye.ui.launch.TigerseyeLaunchConfigurationTabGroup"
            description="%launchConfigurationTabGroup.description"
            id="de.tud.stg.tigerseye.ui.launchConfigurationTabGroup"
            type="de.tud.stg.tigerseye.eclipse.core.tigerseyeLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="de.tud.stg.tigerseye.ui.launch.TigerseyeLaunchShortcut"
            description="%shortcut.description"
            icon="icons/plane16.png"
            id="de.tud.stg.tigerseye.ui.launch.defaultlaunchshortcut"
            label="%shortcut.launch.tigerseye"
            modes="run,debug">        
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        operator="and">
                     <test
                           property="org.eclipse.debug.ui.projectNature"
                           value="de.tud.stg.tigerseye.eclipse.core.tigerseyeNature">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="de.tud.stg.popart.eclipse.addnature.project"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="de.tud.stg.tigerseye.ui.actions.AddTigerseyeNatureAction"
               enablesFor="1"
               id="de.tud.stg.popart.eclipse.core.actions.addnature"
               label="%action.add.nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
            <and>
               <not>
                  <objectState
                        name="nature"
                        value="de.tud.stg.tigerseye.eclipse.core.tigerseyeNature">
                  </objectState></not>
               <objectState
                     name="nature"
                     value="org.eclipse.jdt.core.javanature">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="de.tud.stg.tigerseye.eclipse.tigerseyecontribution"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               icon="icons/plane16.png"
               id="de.tud.stg.tigerseye.eclipse.tigerseyemenu"
               label="%menu.label"
               path="additions">
         </menu>
         <visibility>
            <objectState
                  name="nature"
                  value="de.tud.stg.tigerseye.eclipse.core.tigerseyeNature">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="de.tud.stg.tigerseye.ui.deconfigure"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="de.tud.stg.tigerseye.ui.actions.RemoveTigerseyeNatureAction"
               id="de.tud.stg.tigerseye.ui.action.removenature"
               label="%action.label"
               menubarPath="de.tud.stg.tigerseye.eclipse.tigerseyemenu/nature">
         </action>
         <visibility>
            <objectState
                  name="nature"
                  value="de.tud.stg.tigerseye.eclipse.core.tigerseyeNature">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.codehaus.groovy.eclipse.ui.syntaxHighlightingExtension">
      <highlightingExtender
            extender="de.tud.stg.tigerseye.ui.editors.TigerseyeGroovyEditorHighlightingExtender"
            natureID="de.tud.stg.tigerseye.eclipse.core.tigerseyeNature">
      </highlightingExtender>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.tud.stg.tigerseye.ui.handler.SwitchBetweenTranformerTransformedFile"
            description="Switches to the transformed file of the current DSL file."
            id="de.tud.stg.tigerseye.eclipse.ui.switchToTransformedFile"
            name="%opentransformedfile.name">
      </command>
      <command
            defaultHandler="de.tud.stg.tigerseye.ui.handler.UpdateTigerseyeClasspathHandler"
            id="de.tud.stg.tigerseye.eclipse.ui.updateTigerseyeClasspath"
            name="Update Tigerseye Library">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="de.tud.stg.tigerseye.eclipse.ui.switchToTransformedFile"
               label="%opentransformedfile.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="or">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="dsl">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:de.stg.tud.tigerseye.ui.editors.TigerseyeEditor.EditorContext?after=additions">
         <command
               commandId="de.tud.stg.tigerseye.eclipse.ui.switchToTransformedFile"
               label="%opentransformedfile.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.tud.stg.tigerseye.ui.tigerseyeToolbar">
            <command
                  commandId="de.tud.stg.tigerseye.eclipse.ui.updateTigerseyeClasspath"
                  hoverIcon="icons/tigerw16.png"
                  icon="icons/tiger16.png"
                  label="Update Tigerseye Library"
                  style="push"
                  tooltip="Updates the Tigerseye Library Classpath of all projects. This might be necessary after editing a DSL in a workspace so that the changes are directly applied to all Tigerseye projects. This will force a complete Rebuild of all Tigerseye DSL files (*.dsl).">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.tud.stg.tigerseye.eclipse.ui.switchToTransformedFile"
            contextId="org.eclipse.ui.contexts.window"
            locale="en, de"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+J">
      </key>
   </extension>

</plugin>
