<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.tud.stg.tigerseye.dslDefinitions" name="Tigerseye DSL Definitions" schema="schema/de.tud.stg.tigerseye.dslDefinitions.exsd"/>
   <extension-point id="de.tud.stg.popart.builder.transformerSelector" name="transformer selector" schema="schema/builder.transformerSelector.exsd"/>
   <extension-point id="de.tud.stg.tigerseye.transformers" name="Source Code Tranformers" schema="schema/de.tud.stg.tigerseye.transformers.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.tud.stg.tigerseye.eclipse.core.preferences.TigerseyeMainPreferencePage"
            id="de.tud.stg.tigerseye.preferences.root"
            name="Tigerseye">
      </page>
      <page
            category="de.tud.stg.tigerseye.preferences.root"
            class="de.tud.stg.tigerseye.eclipse.core.preferences.TigerseyeDSLsPreferencesPage"
            id="de.tud.stg.tigerseye.preferences.oldpreferences"
            name="Languages">
      </page>
      <page
            category="de.tud.stg.tigerseye.preferences.root"
            class="de.tud.stg.tigerseye.eclipse.core.preferences.TransformationsPreferencePage"
            id="de.tud.stg.popart.builder.main"
            name="Transformations">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.tud.stg.tigerseye.eclipse.core.preferences.TigerseyePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="de.tud.stg.popart.builder.eclipse.TigerseyeClassPathContainerInitializer"
            id="TIGERSEYE_SUPPORT">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="org.codehaus.groovy.eclipse.core.adapters.GroovyFileAdapterFactory">
         <adapter
               type="org.codehaus.groovy.ast.ClassNode">
         </adapter>
      </factory>
   </extension>
   <extension
         id="tigerseyeNature"
         name="Tigerseye Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.tud.stg.popart.builder.eclipse.DSLNature">
         </run>
      </runtime>
      <builder
            id="de.tud.stg.tigerseye.eclipse.core.tigerseyeBuilder">
      </builder>
      <builder
            id="org.eclipse.jdt.core.javabuilder">
      </builder>
      <requires-nature
            id="org.eclipse.jdt.groovy.core.groovyNature">
      </requires-nature>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         id="tigerseyeBuilder"
         name="Tigerseye Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="de.tud.stg.popart.builder.eclipse.Builder">
            <parameter
                  name="optimize"
                  value="true">
            </parameter>
            <parameter
                  name="comment"
                  value="DSL Builder">
            </parameter>
         </run>
      </builder>
   </extension>
   <extension
         point="de.tud.stg.tigerseye.transformers">
      <transformers>
         <transformer
               class="de.tud.stg.popart.builder.transformers.textual.KeywordTranslationTransformation"
               name="TranslationTransformer">
         </transformer>
         <transformer
               class="de.tud.stg.popart.builder.transformers.textual.BootStrapTransformation"
               name="BootStrap">
         </transformer>
         <transformer
               class="de.tud.stg.popart.builder.transformers.textual.PackageImporter"
               name="PackageImporter">
         </transformer>
         <transformer
               class="de.tud.stg.popart.builder.transformers.ast.KeywordChainingTransformation"
               name="KeywordChaining">
         </transformer>
         <transformer
               class="de.tud.stg.popart.builder.transformers.ast.ClosureResultTransformation"
               name="ClosureResult">
         </transformer>
         <transformer
               class="de.tud.stg.popart.builder.transformers.ast.InvokationDispatcherTransformation"
               name="InvokationDispatcher">
         </transformer>
      </transformers>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="de.tud.stg.tigerseye.eclipse.core.launching.TigerseyeLaunchDelegate"
            delegateDescription="The standard Eclipse launcher for Java files."
            delegateName="Eclipse JDT Launcher"
            id="de.tud.stg.tigerseye.eclipse.core.tigerseyeLaunchConfigurationType"
            modes="run,debug"
            name="Tigerseye Launch Configuration"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.javaSourceLocator"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>

</plugin>
